/* Import Inter Tight from Fonts.google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  text-transform: uppercase;
  width: 100%;
  font-family: inherit;
  margin-top: 0.5rem;
  padding: 0.25rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 1em;
  word-break: keep-all;

  &[disabled] {
    border: unset;
    cursor: not-allowed;
  }
}

textarea {
  resize: none;
}

input[type="text"]:user-invalid,
input[type="number"]:user-invalid,
input[type="date"]:user-invalid {
  border-color: red;

  ~.feedback::after {
    content: "Campo obrigatório!";
    font-size: 0.8rem;
    color: red;
    display: block;
    padding-top: 0.25rem;
  }
}

input[type="text"]:user-valid,
input[type="number"]:user-valid,
input[type="date"]:user-valid {
  border-color: initial;

  ~.feedback::after {
    content: "";
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  user-select: none;
}

.arial {
  font-family: 'Arial', sans-serif;
}

.text-center {
  text-align: center;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ccc;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color ease-in-out 150ms;

  &[type="submit"] {
    background-color: #007bff;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.btn-secondary {
    background-color: #6c757d;

    &:hover {
      background-color: #5a6268;
    }
  }
}

/* Estilização para impressão */
@media print {
  body {
    padding: 0;
    background-color: #fff;
  }

  .container {
    box-shadow: none;
    padding: 0;
  }

  table {
    border: none;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 5px;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"] {
    border: none;
    padding: 0px;
    margin-top: 2px;
  }

  input[type="date"] {
    padding: 0px;
    -webkit-appearance: none;
    appearance: none;

  }

  /* Hide date picker - not working in Firefox */
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
  }

  button,
  .no-print {
    display: none !important;
  }

  label {
    color: #444444;
  }

  h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}